<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thu Vien</title>
</head>
<body>
    <!-- Phần header của trang chủ-->
    <div class="Header">
        <h1>Hello</h1>
    </div>
    <!--Phần body của trang chủ-->
    <div class="Body">

    </div>
    <!--
        Phần footer của trang chủ
    -->
    <div class="footer">

    </div>
</body>
</html>